.footer {
    background-color: rgb(24, 24, 24);
    height: 15em;
    width: 100vw;
    margin-top: 5vh;
}

.footer-icon {
    padding: 10px 20px 10px 20px;
    height: 3em;
    width: 3em;
    color: white;
}

.footer-icons